apiVersion: v1
kind: Service
metadata:
  name: agentsdk-server
  labels:
    app: agentsdk
    component: server
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  - name: metrics
    port: 9090
    targetPort: metrics
    protocol: TCP
  selector:
    app: agentsdk
    component: server
---
apiVersion: v1
kind: Service
metadata:
  name: agentsdk-server-lb
  labels:
    app: agentsdk
    component: server
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  selector:
    app: agentsdk
    component: server
